// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

// Base
@import "sass/base/variables";
@import "sass/base/reset";
@import "sass/base/helpers";
@import "sass/base/layout";

// Elements
@import "sass/elements/navbar";
@import "sass/elements/card";
@import "sass/elements/button";
@import "sass/elements/form";
@import "sass/elements/alert";
@import "sass/elements/spinner";
@import "sass/elements/searchbar";
@import "sass/elements/dropdown";
@import "sass/elements/grid";

