.bookmarks {
    padding: 2rem;
    display: flex;
    height: 50rem;
    flex-direction: column;
    flex-wrap: wrap;

    // Manage bookmarks title
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        h1 {
            font-size: 2rem;
        }

        span { 
            cursor: pointer;
        }
    }

    // Manage bookmarks item
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2.5rem;

        // Ionicons icons
        span:not(.bookmarks__reorder) {
            margin-left: 15px;
            margin-right: 7px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: 18px;
            }
        }

        // Item name
        &-name {
            font-family: lato;
            letter-spacing: 1px;
        }

        &-edits {
            opacity: 0;
            pointer-events: none;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transition: 0.1s ease-in-out 0s;
            cursor: pointer;

            span {
                margin: 0 !important;
                margin-left: 10px !important;
            }

            &.show {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    // Manage bookmarks form
    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;

        // Input
        &-input-container {
            -webkit-box-align: center;
            -webkit-box-pack: justify;
            align-items: center;
            background-color: #FAFBFC;
            border-color: #DFE1E6;
            color: #091E42;
            cursor: text;
            border-radius: 3px;
            border-width: 1px;
            border-style: solid;
            box-sizing: border-box;
            display: flex;
            flex: 1 1 100%;
            font-size: 14px;
            justify-content: space-between;
            max-width: 100%;
            overflow: hidden;
            transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
            overflow-wrap: break-word;
            vertical-align: top;
            pointer-events: auto;
            margin-left: 2rem;
            margin-right: .8rem;

            &:hover {
                background-color: #EBECF0;
            }
        }

        &-input {
            background-color: transparent;
            border: 0px;
            box-sizing: border-box;
            color: inherit;
            cursor: inherit;
            font-size: 14px;
            min-width: 0px;
            outline: none;
            width: 100%;
            line-height: 1.42857;
            padding: 8px 6px;
            height: 2.57em;
        }

        // Icon selection
        &-icons {
            width: 85%;
            margin-top: 2rem;
            margin-left: 4.5rem;
            display: flex;
            flex-wrap: wrap;

            span {
                margin-bottom: 1.5rem;
                margin-right: 2.5rem;
            }

            & > div {
                cursor: pointer;
            }
        }

        // Close bookmark form
        &-close {
            cursor: pointer;
        }

        // Save bookmark button
        &-button {
            background-color: $secondary;
            text-align: center;
            border-color: $secondary;
            color: #fff;
            cursor: text;
            border-radius: 3px;
            border-width: 1px;
            border-style: solid;
            box-sizing: border-box;
            min-width: 7rem;
            font-size: 14px;
            transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
            height: 3.8rem;
        }
    }

    // Add bookmark button
    &__add-btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: grey;
        font-family: 'Lato';
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: .8px;
        width: 19rem;
        margin-top: 3rem;
        // background-color:aqua ;

        p {
            margin-left: 2rem;
        }
    }


    // Manage bookmarks button
    &__btn {
        margin-top: auto;
    }
}


@media only screen and (max-width: $breakpoint-sm) {
    .bookmarks {
        padding: 1rem;
    }
}