.bottom-nav {
    display: none;
    position: fixed;
    bottom: 0;
    height: 5.5rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    background-color: #fff;
    overflow-x: auto;
    width: 100%;
    z-index: 100;

    &-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1; 
        min-width: 5rem;
        overflow: hidden;
        white-space: nowrap;
        justify-content: center;
        font-size: 1.3rem;
        color: #444444;
        transition: background-color 0.1s ease-in-out;

        &--active {
            color: $primary;

            & > span svg {
                fill: $primary;
            }
        }
    }
}


@media only screen and (max-width : $breakpoint-lg) { 
    body {
        margin-bottom: 5.5rem;
    }

    .bottom-nav {
        display: flex;
    }
}