// Center all ionicons
span.sc-bczRLJ {
    display: flex;
} 

.hidden {
    display: none;
}

.pos-relative {
    position: relative;
}

.hide-desktop {
    display: none;
}

.flex {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}



@media only screen and (max-width : $mobile) { 
    .hide-mobile {
        display: none !important;
    }

    .hide-desktop {
        display: block;
    }
}